if ncsi
menu "NCSI Configuration"
choice NCSI_MODE

prompt "NCSI Support Model"
config FEATURE_NCSI_AUTO_FAILOVER
	bool "NCSI Auto Failover Mode"
		default n
		help
			Able to switch NCSI channel auto failover
                                                
config FEATURE_NCSI_MANUAL_SWITCH
	bool "NCSI Manual Switch Mode"
		default y
		help
			Able to switch NCSI channel manually
                                                
endchoice

config FEATURE_NCSI_INTERFACE_NAMES
    string "NCSI Interface Names"
        default "eth0,eth1,eth2,eth3"
        help
            NCSI interface names with comma separated value.

config FEATURE_NCSI_DEFAULT_INTERFACE
	string "Default inteface name"
		default "eth1"
		help
			NCSI default inteface name

if FEATURE_NCSI_MANUAL_SWITCH

config FEATURE_NCSI_DEFAULT_PACKAGEID
	int "Default package id"
		default 0
		help
			NCSI default package id  

config FEATURE_NCSI_DEFAULT_CHANNELID
	int "Default channel id"
		default 0
		help
			NCSI default channel id

config FEATURE_NCSI_MAXIMUM_PACKAGEID
    hex "Maximum Number of package id"
        default 0x7
        range 0x1 0x7
        help
             NCSI Maximum Number of package id

config FEATURE_NCSI_MAXIMUM_CHANNELID
    hex "Maximum Number of channel id"
        default 0x1F
        range 0x1 0x1F
        help
             NCSI Maximum Number of channel id

config FEATURE_NCSI_RESET_INTERFACE_IN_USER_SETTINGS
    bool "NCSI Reset Interface in User Settings"
		default n
		help
			Reset the NCSI Interface while enabling every time in Manual Switch
			(This settings cannot be modified at runtime).

endif

config FEATURE_NCSI_KEEP_PHY_LINK_UP
    bool "Support for Keep PHY Link-Up on NCSI Controllers"
		default n
		help
			Enable/Disable Keep PHY Link Up on NCSI Controller
			
config FEATURE_NCSI_DISABLE_HW_ARBITRATION
	bool "Disable Hardware Arbitration"
		default n
		help
			Enable/Disable Hardware arbitration between packages.

if FEATURE_NCSI_KEEP_PHY_LINK_UP
config FEATURE_NCSI_DEFAULT_VETOBIT
	int "Default VetoBit"
		default 0
		help
			NCSI default VetoBit value  
endif

config FEATURE_NCSI_FLOW_CONTROL
    bool "Support for flow control"
		default yes
		help
			Enable/Disable NCSI Flow Control feature

if FEATURE_NCSI_FLOW_CONTROL

config FEATURE_NCSI_DEFAULT_FLOW_CONTROL
	int "Default Flow control"
		default 0
		help
			Set NCSI default Flow Control value
			0 - Disable FLow Control
			1 - Enables Network Controller to Management Controller flow control frames
			2 - Enables Management Controller to Network Controller flow control frames
			3 - Enables Bi-directional flow control frames
			 
endif

config FEATURE_NCSI_GET_LINK_STATUS_FOR_NON_AEN_SUPPORTED_CONTROLLERS
    bool "Support for Non-AEN Supported Controllers"
		default n
		help
			If the Network Controller does not support AEN, a Kernel Timer will be invoked 
			to periodically issue Get Link Status command to the Network Controller.

config FEATURE_POLL_FOR_ASYNC_RESET
    bool "Support for Asynchrounous Reset detection on NC-SI Controllers"
                default n
                help
                        This feature detects asynchronous reset on the network controller and reconfigures the link, 
			a Kernel Timer will be invoked to periodically issue Get Link Status command to the Network Controller.

if FEATURE_NCSI_GET_LINK_STATUS_FOR_NON_AEN_SUPPORTED_CONTROLLERS || FEATURE_POLL_FOR_ASYNC_RESET

config FEATURE_NCSI_TIMER_DEALAY_FOR_GET_LINK_STATUS
	int "Timer Delay for Issuing Get Link Status Command (seconds)"
		default 5
		help
			Periodic time interval(in seconds) for issuing the Get Link Status command to the network controller. 

endif

config FEATURE_NCSI_POLL_LINK_STATUS
    bool "Poll Link Status"
        default y
        help
            Invoke a kernel timer to periodically issue Get Link Status command to the Network Controller
            for the situation that RX_BROADPKT_EN of MAC interface is disable.

if !FEATURE_NCSI_POLL_LINK_STATUS

config FEATURE_NCSI_MULTI_NODE_CX4
    bool "Support for Mellanox CX4 Multi-Node"
        default n
        help
            To support NC-SI initialization for Mellanox CX4 Multi-Node.

endif

config FEATURE_NCSI_FORCE_LAN_SPEED_10G
        bool "Default Force LAN Speed 10G"
                default n
                help
                        NCSI force LAN speed 10G

config FEATURE_NCSI_MANUAL_DETECT
        bool "Allow user to detect packages and channels"
                default n
                help
                        Allow user to detect the packages and channels manually, if this feature is selected
                        the driver will not detect the packages and channels when loading of it, so user must 
                        detect manually before initializing the interface 
                        "echo 1 > /proc/sys/ractrends/ncsi/Detect" is used to detect manually.
                        

endmenu
endif