
	<td><div class='media_type'><% var av = model.get('media_type'); var avset = false; %><% if(av == '1'){ avset = true;  %><%= locale.cddvd %><% } %><% if(av == '2'){ avset = true;  %><%= locale.floppy %><% } %><% if(av == '4'){ avset = true;  %><%= locale.hard_disk %><% } %><% if(avset == false) { %><%= av %><% } %></div></td><td><div class='media_index'><%= model.get('media_index') %></div></td><td><div class='image_name'><%= model.get('image_name') %></div></td><td><div class='redirection_status'><% var av = model.get('redirection_status'); var avset = false; %><% if(av != 1){ avset = true;  %><%= locale.halted + (av<17?locale['status_'+av]:"")%><% } %><% if(av == '1'){ avset = true;  %><%= locale.started %><% } %><% if(avset == false) { %><%= av %><% } %></div></td><td><div class='session_index'><% var si = model.get('session_index'); if(si==255){si="N/A"} %><%=si%></div></td>
	<td>
		<a class="btn btn-default disabled action-1" href="javascript://"><i class="fa fa-play"></i></a>
		<a class="btn btn-default disabled action-2" href="javascript://"><i class="fa fa-stop"></i></a>
		<a class="btn btn-default hide action-3" href="%%custom-link-3"><i class="%%custom-icon-3"></i></a>
		<a class="btn btn-default hide action-4" href="%%custom-link-4"><i class="%%custom-icon-4"></i></a>
		<a class="btn btn-success hide edit" href="#image_redirection/rmedia/edit/:id"><i class="ion ion-edit"></i></a>
		<a class="btn btn-danger hide delete" href="#image_redirection/rmedia/edit/:id"><i class="ion ion-close-circled"></i></a>
	</td>
