#Extract Source	in %SOURCE
extract_source:

#Build Source in %BUILD
build_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE

#Clean Source
clean_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE clean
		
#--------------------- Mandatory Rules for every binary package -------------------------

# Rules to create cipher package
build_package-cipher:
		PACK_SPX  ./   %BUILD/%PACKAGE/data/cipher.ko

# Rules to create cipher_driver_dev package
build_package-cipher_driver_dev:
		MKDIR_CLEAN %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/cipher.h %TEMPDIR/%PACKAGE/tmp
		PACK_SPX ./ %TEMPDIR/%PACKAGE/tmp
