<section class="content-header">
    <h1>
        <%= locale.title %>
        <small> <%= locale.tag %> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i><%= locale.home %></a></li><li><a href="#settings"><%= locale.settings %></a></li><li><a href="#settings/video"><%= locale.video %></a></li><li><a href="#settings/video/auto"><%= locale.auto_settings %></a></li>
        <li class="active">
           <%= locale.title %>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="col-md-5">
    <div class="box box-primary animated fadeInUp">
        <div class="box-header">
            <div class="pull-right help"><a class="col-sm-1 help-link" href="#"><i class="fa fa-question-circle"></i></a></div>
            <h3 class="box-title"><%= locale.pre_event %></h3>
        </div>
        <div class="box-body">
            <div class="alert alert-success hide">
                <!-- <i class="fa fa-check"></i> -->
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                <b><%= locale.strongSuccessMsg %></b> <%= locale.successMsg %>
            </div>
            <div class="alert alert-danger hide">
                <!-- <i class="fa fa-ban"></i> -->
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                <b><%= locale.strongFailureMsg %></b> <%= locale.failureMsg %>
            </div>
            <form action="javascript://" method="POST" role="form">
                <div class="form-group"  >
    <div class="form-control-static" id="iddescription"></div>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.pre_eventchoose_the_video_quality_from_the_dropdown_list_to_adjust_the_preevent_bootcrash_record_video %></div>
    <label for="video_quality"><%= locale.pre_eventvideo_quality %></label>
    <select name="video_quality" id="idvideo_quality" class="form-control">
    	<option value='0'><%= locale.pre_eventvery_low %></option><option value='1'><%= locale.pre_eventlow %></option><option value='2'><%= locale.pre_eventaverage %></option><option value='3'><%= locale.pre_eventnormal %></option><option value='4'><%= locale.pre_eventhigh %></option>
    </select>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.pre_eventselect_the_compression_mode_from_the_dropdown_list_that_consists_of_various_types_of_compression_modes_for_preevent_trigger_videos %></div>
    <label for="comp_mode"><%= locale.pre_eventcompression_mode %></label>
    <select name="comp_mode" id="idcomp_mode" class="form-control">
    	<option value='0'><%= locale.pre_eventhigh %></option><option value='1'><%= locale.pre_eventnormal %></option><option value='2'><%= locale.pre_eventlow %></option><option value='3'><%= locale.pre_eventno %></option>
    </select>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.pre_eventchoose_the_fps_to_recored_the_number_of_frames_per_second %></div>
    <label for="fps"><%= locale.pre_eventframes_per_second %></label>
    <select name="fps" id="idfps" class="form-control">
    	<option value='1'><%= locale.pre_event1 %></option><option value='2'><%= locale.pre_event2 %></option><option value='3'><%= locale.pre_event3 %></option><option value='4'><%= locale.pre_event4 %></option>
    </select>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.pre_eventchoose_this_to_set_the_time_duration_of_the_video_that_needs_to_be_recorded %></div>
    <label for="video_duration"><%= locale.pre_eventvideo_duration %></label>
    <select name="video_duration" id="idvideo_duration" class="form-control">
    	<option value='10'><%= locale.pre_event10 %></option><option value='20'><%= locale.pre_event20 %></option><option value='30'><%= locale.pre_event30 %></option><option value='40'><%= locale.pre_event40 %></option><option value='50'><%= locale.pre_event50 %></option><option value='60'><%= locale.pre_event60 %></option>
    </select>
</div><div class="pull-right">
    <a class="btn btn-primary" id="save"><i id='save-icon' class="fa fa-save"></i> &nbsp; <%= locale.saveLabel %></a>
</div>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
</div>
</section>