<div class="login-view">

</div>
<!--<div class="login">

    <form action="#" method="POST" role="form">
    	<legend>Authentication</legend>
    
    	<div class="input-group">
    		<div class="input-group-addon"><i class="fa fa-user"></i></div>
    		<input type="text" class="form-control" id="username" placeholder="Username">
    	</div>
    	<div class="input-group">
    		<div class="input-group-addon"><i class="ion-locked"></i></div>
    		<input type="password" class="form-control" name="password" id="password" placeholder="Password">
    	</div>
    
    	<button type="button" class="btn btn-primary pull-right">Login</button>
    </form>

</div>-->