#Extract Source	in %SOURCE
extract_source:
		
#Build Source in %BUILD
build_source:
	INVOKE_SHELL ApplyPatch  %BOOT_SRC/uboot  %SOURCE/%PACKAGE/data

#Clean Source
clean_source:
	DELETE %BINARY/@Bootloader_amiext-*-ANY.spx
	
#--------------------- Mandatory Rules for every binary package -------------------------

# Rules to create Boot loader dummy package
build_package-@Bootloader_amiext:
	PACK_SPX
	
