if i2c_hw
menu "Enable/Disable I2C Bus Configuration"

config FEATURE_I2C_BUS_DISABLE_MASK
	int "Disable I2C Bus Mask"
	default 0
	help
		Set 1 to disable the I2C Bus. (bit0 for Bus#0, bit1 for Bus#1, etc...)

config FEATURE_NUM_BMC_I2C_BUSES
	int "Number of BMC I2C Buses"
	default 9
	help
		Number of BMC I2C Buses

config FEATURE_NUM_TOTOL_I2C_BUSES
	int "Amount of I2C Buses"
	default 9
	help
		Amount of I2C Buses

choice I2C_TRANSFER_MODE
prompt "I2C Transfer Mode"

config FEATURE_I2C_BYTE_MODE
	bool "I2C Byte Buffer Mode"
		default y
		help
			I2C Byte Buffer Mode

config FEATURE_I2C_DMA_MODE
	bool "I2C DMA Buffer Mode"
		default n
		depends on @SOC_AST2500 || @SOC_AST2530
		help
			I2C DMA Buffer Mode
endchoice

if BMCCompanionDevice_support

config FEATURE_NUM_SINGLE_BMC_COMPANION_I2C_BUSES
	int "Number of the single BMC companion controller I2C Buses"
	default 8
	help
		Number of the single BMC companion controller I2C Buses
endif

if FEATURE_BMCCOMPANIONDEVICE_AST1070

choice AST1070_I2C_Transfer_Mode
prompt "I2C Bus Transfer Mode"

config FEATURE_AST1070_I2C_BYTE_MODE
	bool "Support AST1070 I2C Bus Byte Mode"
		default n
		help
			Support AST1070 I2C Byte Mode
			
config FEATURE_AST1070_I2C_DMA_MODE
	bool "Support AST1070 I2C DMA Mode"
		default y
		help
			Support AST1070 I2C DMA Mode
endchoice

endif

menu "The default I2C speed mode Configuration"

if FEATURE_NUM_TOTOL_I2C_BUSES >= 1
config FEATURE_I2C00_HIGH_SPEED_MODE
	bool "I2C00 in High Speed mode"
		default n
		help
			I2C00 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 2
config FEATURE_I2C01_HIGH_SPEED_MODE
	bool "I2C01 in High Speed mode"
		default n
		help
			I2C01 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 3
config FEATURE_I2C02_HIGH_SPEED_MODE
	bool "I2C02 in High Speed mode"
		default n
		help
			I2C02 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 4
config FEATURE_I2C03_HIGH_SPEED_MODE
	bool "I2C03 in High Speed mode"
		default n
		help
			I2C03 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 5

config FEATURE_I2C04_HIGH_SPEED_MODE
	bool "I2C04 in High Speed mode"
		default n
		help
			I2C04 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 6
config FEATURE_I2C05_HIGH_SPEED_MODE
	bool "I2C05 in High Speed mode"
		default n
		help
			I2C05 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 7
config FEATURE_I2C06_HIGH_SPEED_MODE
	bool "I2C06 in High Speed mode"
		default n
		help
			I2C06 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 8
config FEATURE_I2C07_HIGH_SPEED_MODE
	bool "I2C07 in High Speed mode"
		default n
		help
			I2C07 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 9
config FEATURE_I2C08_HIGH_SPEED_MODE
	bool "I2C08 in High Speed mode"
		default n
		help
			I2C08 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 10
config FEATURE_I2C09_HIGH_SPEED_MODE
	bool "I2C09 in High Speed mode"
		default n
		help
			I2C09 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 11
config FEATURE_I2C10_HIGH_SPEED_MODE
	bool "I2C10 in High Speed mode"
		default n
		help
			I2C10 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 12
config FEATURE_I2C11_HIGH_SPEED_MODE
	bool "I2C11 in High Speed mode"
		default n
		help
			I2C11 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 13
config FEATURE_I2C12_HIGH_SPEED_MODE
	bool "I2C12 in High Speed mode"
		default n
		help
			I2C12 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 14
config FEATURE_I2C13_HIGH_SPEED_MODE
	bool "I2C13 in High Speed mode"
		default n
		help
			I2C13 In High Speed mode
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 15
config FEATURE_I2C14_HIGH_SPEED_MODE
	bool "I2C14 in High Speed mode"
		default n
		help
			I2C14 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 16
config FEATURE_I2C15_HIGH_SPEED_MODE
	bool "I2C15 in High Speed mode"
		default n
		help
			I2C15 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 17
config FEATURE_I2C16_HIGH_SPEED_MODE
	bool "I2C16 in High Speed mode"
		default n
		help
			I2C16 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 18
config FEATURE_I2C17_HIGH_SPEED_MODE
	bool "I2C17 in High Speed mode"
		default n
		help
			I2C17 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 19
config FEATURE_I2C18_HIGH_SPEED_MODE
	bool "I2C18 in High Speed mode"
		default n
		help
			I2C18 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 20
config FEATURE_I2C19_HIGH_SPEED_MODE
	bool "I2C19 in High Speed mode"
		default n
		help
			I2C19 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 21
config FEATURE_I2C20_HIGH_SPEED_MODE
	bool "I2C20 in High Speed mode"
		default n
		help
			I2C20 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 22
config FEATURE_I2C21_HIGH_SPEED_MODE
	bool "I2C21 in High Speed mode"
		default n
		help
			I2C21 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 23
config FEATURE_I2C22_HIGH_SPEED_MODE
	bool "I2C22 in High Speed mode"
		default n
		help
			I2C22 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 24
config FEATURE_I2C23_HIGH_SPEED_MODE
	bool "I2C23 in High Speed mode"
		default n
		help
			I2C23 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 25
config FEATURE_I2C24_HIGH_SPEED_MODE
	bool "I2C24 in High Speed mode"
		default n
		help
			I2C24 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 26
config FEATURE_I2C25_HIGH_SPEED_MODE
	bool "I2C25 in High Speed mode"
		default n
		help
			I2C25 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 27
config FEATURE_I2C26_HIGH_SPEED_MODE
	bool "I2C26 in High Speed mode"
		default n
		help
			I2C26 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 28
config FEATURE_I2C27_HIGH_SPEED_MODE
	bool "I2C27 in High Speed mode"
		default n
		help
			I2C27 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 29
config FEATURE_I2C28_HIGH_SPEED_MODE
	bool "I2C28 in High Speed mode"
		default n
		help
			I2C28 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 30
config FEATURE_I2C29_HIGH_SPEED_MODE
	bool "I2C29 in High Speed mode"
		default n
		help
			I2C29 In High Speed mode
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 31
config FEATURE_I2C30_HIGH_SPEED_MODE
	bool "I2C30 in High Speed mode"
		default n
		help
			I2C30 In High Speed mode
endif
endmenu

endmenu
endif

