if liblicense
menu "License Configuration"
if adviser
	config FEATURE_KVM_LICENSE_ENABLED
	int "KVM license support"
	bool 
	default n     
	help
		Enable/Disable adviser license support
endif

if vmapp || rdserver
    config FEATURE_MEDIA_LICENSE_ENABLED
    int "Media license support"
    bool
    default n
    help
        Enable/Disable media license support
endif

if rdserver && FEATURE_MEDIA_LICENSE_ENABLED
	config FEATURE_RDSERVER_LICENSE_ENABLED
	bool
	default y
	help
	    Enable/Disable rdserver license support
endif

if qomd
	config FEATURE_WSMAN_LICENSE_ENABLED
	int "WSMAN license support"
	bool 
	default n
	help
	    Enable/Disable wsman license suport
endif

if FEATURE_MEDIA_LICENSE_ENABLED
	if rmedia
		config FEATURE_RMEDIA_LICENSE_ENABLED
		int "RMEDIA license support"
		bool 
		default n
		help
			Enable/Disable remote media license suport, 
			1. if not selected then MEDIA license will be applicable for rmedia also.
			2. if selected then seperate RMEDIA license need to be applied. Also the 
			   RMEDIA license will be applicable for media also (like cdserver, vmapp, etc.,). 
			   There is no need for MEDIA license (optional).
	endif

	if lmedia
		config FEATURE_LMEDIA_LICENSE_ENABLED
		int "LMEDIA license support"
		bool 
		default n
		help
			Enable/Disable local media license suport
			1. if not selected then MEDIA license will be applicable for lmedia also.
			2. if selected then seperate LMEDIA license need to be applied. Also the
			   LMEDIA license will be applicable for media also (like cdserver, vmapp, etc.,).
			   There is no need for MEDIA license (optional).
	endif 
endif


 			  
endmenu
endif
