#Extract Source	in %SOURCE
extract_source:

#Build Source in %BUILD
build_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE

#Clean Source
clean_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE clean
		
#--------------------- Mandatory Rules for every binary package -------------------------

# Rules to create libipmi package
build_package-libipmi:
		PACK_SPX  ./   %BUILD/%PACKAGE/data/libipmi.so.%PKG_MAJOR.%PKG_MINOR.%PKG_AUX
				
# Rules to create libipmi_dev package
build_package-libipmi_dev:
		MKDIR_CLEAN %TEMPDIR/%PACKAGE/tmp/include
		MKDIR_CLEAN %TEMPDIR/%PACKAGE/tmp/lib
		COPY_DIR %BUILD/%PACKAGE/data/include %TEMPDIR/%PACKAGE/tmp/include
		COPY_FILE %BUILD/%PACKAGE/data/libipmi_AMIEXT.h %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/sensor_helpers.h %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/libipmi.a %TEMPDIR/%PACKAGE/tmp/lib
		COPY_FILE %BUILD/%PACKAGE/data/libipmi.so.%PKG_MAJOR.%PKG_MINOR.%PKG_AUX %TEMPDIR/%PACKAGE/tmp/lib
		PACK_SPX ./ %TEMPDIR/%PACKAGE/tmp
				
		
