<section class="content-header">
    <h1>
        <%= locale.title %>
        <small> <%= locale.tag %> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i><%= locale.home %></a></li><li><a href="#settings"><%= locale.settings %></a></li><li><a href="#settings/services"><%= locale.services %></a></li>
        <li class="active">
           <%= locale.title %>
        </li>
    </ol>
    <div class="pull-right help"><a class="col-sm-1 help-link" href="#"><i class="fa fa-question-circle"></i></a></div>
</section>

<!-- Main content -->
<section class="content">

<div class="alert alert-info help-item hide" role="alert"><%= locale.hlp_active_services %></div>
        <div class="row">
        <div class="col-md-12">
        <div class="alert alert-info" role="alert" id='lblActiveSessionHeader'></div>  
            <!--search events -->
            <!-- <div class="col-sm-6">
               <div class="form-group">
                    <div class="input-group" id="filter">
                        <input type="text" class="form-control" placeholder="Search <%= locale.title %>" />
                        <span class="input-group-addon">
                            <span class="glyphicon-search glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="row">
        <div class='col-md-12'>
            <div class='box'>
                <div class='box-body'>
                    <div class='row'>
                        <div class="col-md-12 table-list">
                              
                            <table class="footable table" showEmptyInfo="true" showIndex="true">
                                <thead>
                                    <tr>
                                        <th><%= locale.session_id %></th><th data-hide='phone'><%= locale.session_type %></th><th><%= locale.session_user_id %></th><th ><%= locale.username %></th><th ><%= locale.client_ip %></th><th data-hide='phone'><%= locale.privilege %></th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    
                                </tbody>
                            </table>

                            <div class="col-md-12 table-list-add-item hide">
                                <a href='%%add-link'>
                                    <div class="col-md-3 icon">
                                        <i class="ion-plus-circled iconic"></i>
                                    </div>
                                    <div class="col-md-9 contents">
                                        %%add-text
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>