<section class="content-header">
    <h1>
        <%= locale.service_configuration %>
        <small> <%= locale.tag %> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i><%= locale.home %></a></li>
        <li>
            <a href="#settings">
                <%= locale.settings %>
            </a>
        </li>
        <li>
            <a href="#settings/services">
                <%= locale.services %>
            </a>
        </li>
        <li class="active">
            <%= locale.service_configuration %>
        </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-md-5">
        <div class="box box-primary animated fadeInUp">
            <div class="box-header">
                <div class="pull-right help"><a class="col-sm-1 help-link" href="#"><i class="fa fa-question-circle"></i></a></div>
            </div>
            <div class="box-body">
                <div class="alert alert-success hide">
                    <!-- <i class="fa fa-check"></i> -->
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                    <b><%= locale.strongSuccessMsg %></b>
                    <%= locale.successMsg %>
                </div>
                <div class="alert alert-danger hide">
                    <!-- <i class="fa fa-ban"></i> -->
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                    <b><%= locale.strongFailureMsg %></b>
                    <%= locale.failureMsg %>
                </div>
                <form action="javascript://" method="POST" role="form">
                    <div class="form-group">
                        <div class="alert alert-info help-item hide" role="alert">
                            <%= locale.servicesbservice_nameb_br_displays_service_name_of_the_selected_slotreadonly %>
                        </div>
                        <label for="service_name">
                            <%= locale.servicesservice_name %>
                        </label>
                        <div class="form-control-static" id="idservice_name"></div>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-info help-item hide" role="alert">
                            <%= locale.servicesbcurrent_stateb_br_displays_the_current_status_of_the_service_either_active_or_inactive_check_this_box_to_start_the_inactive_service %>
                        </div>
                        <label>
                            <input type="checkbox" value="1" id="idstate">
                            <%= locale.servicesactive %>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-info help-item hide" role="alert">
                            <%= locale.servicesbinterfacesbbrit_shows_the_interface_on_which_service_is_running_the_user_can_choose_any_one_of_the_available_interfacesbrbnotebulli_service_mapping_to_disabled_interfaces_will_not_workstatus_of_interface_can_be_checkedenabled_under_configuration_network_lan_settingslili_kvm_and_media_interfaces_are_readonly_when_single_port_is_enabledliul %>
                        </div>
                        <label for="service_interface">
                            <%= locale.servicesinterface_name %>
                        </label>
                        <select name="service_interface" id="idservice_interface" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-info help-item hide" role="alert">
                            <%= locale.servicesbnonsecure_portbbrused_to_configure_non_secure_port_number_for_the_serviceulli_web_default_port_is_80lili_kvm_default_port_is_7578lili_cd_media_default_port_is_5120lili_fd_media_default_port_is_5122lili_hd_media_default_port_is_5123lili_telnet_default_port_is_23lili_port_value_ranges_from_1_to_65535liulbnotebbrssh_service_will_not_support_a_non_secure_port %>
                        </div>
                        <label for="non_secure_port">
                            <%= locale.servicesnonsecure_port %>
                        </label>
                        <input type="text" class="form-control" id="idnon_secure_port" maxlength="5" value="" placeholder="<%= locale.valid_unused_port %>">
                    </div>
                    <div class="form-group">
                        <div class="alert alert-info help-item hide" role="alert">
                            <%= locale.servicesbsecure_portbbrused_to_configure_secure_port_number_for_the_serviceulli_web_default_port_is_443lili_kvm_default_port_is_7582lili_cd_media_default_port_is_5124lili_fd_media_default_port_is_5126lili_hd_media_default_port_is_5127lili_ssh_default_port_is_22lili_port_value_ranges_from_1_to_65535liulbnotebbr_telnet_service_will_not_support_a_secure_port %>
                        </div>
                        <label for="secure_port">
                            <%= locale.servicessecure_port %>
                        </label>
                        <input type="text" class="form-control" id="idsecure_port" maxlength="5" value="" placeholder="<%= locale.valid_unused_port %>">
                    </div>
                    <div class="form-group">
                        <div class="alert alert-info help-item hide" role="alert">
                            <%= locale.servicesbtimeoutbbrdisplays_the_session_timeout_value_of_the_service_for_web_ssh_and_telnet_service_user_can_configure_the_session_timeout_valueulli_web_and_kvm_timeout_value_ranges_from_300_to_1800_secondslili_web_timeout_would_be_ignored_if_there_exists_any_alive_kvm_sessionlili_ssh_and_telnet_timeout_value_ranges_from_60_to_1800_secondslili_ssh_and_telnet_timeout_value_should_be_in_multiples_of_60_secondsliulbnotebbr_ssh_and_telnet_service_will_be_using_the_same_timeout_value_if_the_user_configures_the_ssh_timeout_value_that_will_be_applied_to_the_telnet_service_also_and_vice_versa %>
                        </div>
                        <label for="time_out">
                            <%= locale.servicestimeout %>
                        </label>
                        <input type="text" class="form-control" id="idtime_out" value="" maxlength="4" placeholder="<%= locale.in_seconds %>">
                    </div>
                    <div class="form-group">
                        <div class="alert alert-info help-item hide" role="alert">
                            <%= locale.servicesdisplays_the_maximum_number_of_allowed_sessions_for_the_service %>
                        </div>
                        <label for="maximum_sessions">
                            <%= locale.servicesmaximum_sessions %>
                        </label>
                        <div class="form-control-static" id="idmaximum_sessions"></div>
                    </div>
                    <div class="form-group hide" id="divactive_session">
                        <div class="alert alert-info help-item hide" role="alert">
                            <%= locale.servicesdisplays_the_active_number_of_sessions_for_the_service %>
                        </div>
                        <label for="active_session">
                            <%= locale.NumberOfactive_sessions %>
                        </label>
                        <div class="form-control-static" id="idactive_session"></div>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-primary" id="save"><i id='save-icon' class="fa fa-save"></i> &nbsp; <%= locale.saveLabel %></a>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>
