if helper

menu "Disable MTD Support"

config FEATURE_DISABLE_MTD_SUPPORT
	bool "Disable mtd support for helper driver"
	default n
	help
	    Disable mtd support for helper driver

if FEATURE_DISABLE_MTD_SUPPORT
	
config FEATURE_GLOBAL_BUILD_MAJOR
	int "Major Build Number"
	default 0
	help
		Major Build Number for Firmware

config FEATURE_GLOBAL_BUILD_MINOR
	int "Minor Build Number"
	default 0
	help
		Minor Build Number for Firmware

config FEATURE_GLOBAL_BUILD_NUMBER
	int "Global Build Number"
	default 0
	help
		Global Build Number for Firmware

config FEATURE_GLOBAL_BUILD_DATE
	string "Global Build Date"
	default "Oct 01,2014"
	help
		Global Build Date for Firmware

config FEATURE_GLOBAL_BUILD_TIME
	string "Global Build time"
	default "12:01:01 IST"
	help
		Global Build Number for Firmware

config FEATURE_GLOBAL_BUILD_DESC
	string "Global Build Description"
	default ""
	help
		Global Build Description

config FEATURE_GLOBAL_PRODUCT_ID
	int "Global Product ID"
	default 1
	help
		Global product ID for Firmware

endif
endmenu
	
endif

