if adviser

config FEATURE_KB_LANG_SELECT_SUPPORT
	bool "Physical KeyBoard Language Selection Support"
	default y
	help
	    Enable or Disable Physical KeyBoard Language selection feature.

config FEATURE_USB_INITIALIZE_ADVISER
	bool "HID  initialization upon adviser restart"
	default y
	help 
		Enable this feature to initialize the HID device when ever the KVM server restarts.

menu "KVM Default Configurations"

config FEATURE_AUTO_RESIZE_KVM_CLIENT_WINDOW
	bool "Auto Resize KVM Client Window"
	default n
    help
    	Enable or Disable Auto Resize KVM Client widow feature
    	
config FEATURE_MEDIA_REDIR_READ_WRITE_ONLY
	bool "Redirect Devices Always in READ and WRITE Mode"
	default n
    help
    	Enable or Disable device redirection always in READ & WRITE mode

config FEATURE_JAVA_CD_IMAGE_REDIR
	bool "CD/DVD Image Redirection using Java"
	default n
    help
    	Enable or Disable CD/DVD image redirection using Java implementation
    	
config FEATURE_SKIP_REPOSITIONING_JVIEWER_WINDOW
	bool "Skip Repositioning JViewer window to top left corner"
	default n
    help
    	Enable or Disable Skip Repositioning JViewer window to top left corner of current monitor
choice SYNC_KBD_LED_SELECTION
prompt "Keyboard LED Synchronization"
    help
    	Select Keyboard LED syncronization mechanism.
config FEATURE_SYNC_KBD_LED_HOST
	bool "Sync with Host Keyboard LED Status"
	default y
	help
		Synchronize Client keyboard LED status with Host keyboard LED status.
config FEATURE_SYNC_KBD_LED_CLIENT
	bool "Sync with Client Keyboard LED Status"
	default n
	help
		Synchronize Host keyboard LED status with Client keyboard LED status.
endchoice
endmenu


if FEATURE_KB_LANG_SELECT_SUPPORT
menu "Physical Keyboard Layouts"

choice FEATURE_KB_LANG
prompt "KeyBoard Language Selection Support"
optional

config FEATURE_KB_LANG_AD
	bool "Auto Detect Keyboard Language"
	default y
	help
	    Enable or Disable Auto Detect KeyBoard Language selection feature.

config FEATURE_KB_LANG_EN
	bool "English-US (US)"
	default n
	help
	    Select English-US as the default Host Keyboard Keyboard Language layout.
	    
config FEATURE_KB_LANG_FR
	bool "French-France (FR)"
	default n
	help
	    Select French-France as the default Host Keyboard Keyboard Language layout.
	    
config FEATURE_KB_LANG_DE
	bool "German-Germany (DE)"
	default n
	help
	    Select German-Germany as the default Host Keyboard Keyboard Language layout.
	    
config FEATURE_KB_LANG_ES
	bool "Spanish-International Sort(ES)"
	default n
	help
	    Select Spanish-International Sort as the default Host Keyboard Keyboard Language layout.
	  
endchoice
endmenu
endif

config FEATURE_RUNTIME_HOST_LOCK
	bool "Runtime Enable/Disable of Host lock command"
	default n
	help
		Enable/Disable Runtime command control for the host lock

config FEATURE_HOST_LOCK_AUTO
	bool "Automatically lock the host screen upon JViewer Launch"
	default n
	help
		This support locks the host screen upon JViewer Launch

config FEATURE_ALLOW_MULTIPLE_KVM_SESSION_FROM_SAME_CLIENT
	bool "Allow Multiple KVM session from same client"
	default n
	help
		Enabling this option will allow to open multiple KVM session from the clients with same IP, user name, and domain.

menu "KVM Session Management"
config FEATURE_KVM_SESSION_TIMEOUT
	bool "KVM Session Time Out Support"
	default n
	help
	    Enable or Disable KVM session time out feature.

if FEATURE_KVM_SESSION_TIMEOUT
config FEATURE_KVM_SESSION_TIMEOUT_VALUE
	int "KVM Session Timeout (Seconds)"
	default 1800
	range 300 1800
	help
	    Number of seconds of Inactivity to close the KVM session
endif
config FEATURE_KVM_SESSION_RECONNECT
	bool "KVM Session Connection Retry Support"
	default n
	help
		Enabling this option will allow existing KVM session to reconnect, in case of network or abrupt connection failure
		
if FEATURE_KVM_SESSION_RECONNECT
config FEATURE_KVM_SESSION_RETRY_COUNT
	int "KVM Session maximum retry allowed"
	default 3
	range 1 3
	help
		KVM Session will try to re-connect based on Retry Count, in case of connection lost 

config FEATURE_KVM_SESSION_RETRY_INTERVAL
	int "KVM Session Retries Interval(seconds)"
	default 10
	range 5 15
	help
		Interval between subsequent retry to re-connect lost KVM Session.
endif
endmenu

endif
