#Extract Source	in %SOURCE
extract_source:

#Build Source in %BUILD
build_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE
		
#Clean Source
clean_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE clean

#--------------------- Mandatory Rules for every binary package -------------------------

# Rules to create adviser package
build_package-adviser:
		MKDIR_CLEAN %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/adviserd %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/adviserd.sh %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/adviserd.conf %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/update_conf %TEMPDIR/%PACKAGE/tmp
		PACK_SPX ./ %TEMPDIR/%PACKAGE/tmp
