if i2c_hw
menu "Enable/Disable I2C Bus Configuration"

config FEATURE_I2C_BUS_DISABLE_MASK
	int "Disable I2C Bus Mask"
	default 0
	help
		Set 1 to disable the I2C Bus. (bit0 for Bus#0, bit1 for Bus#1, etc...)

config FEATURE_NUM_TOTOL_I2C_BUSES
	int "Amount of I2C Buses"
	default 9
	help
		Amount of I2C Buses

choice I2C_TRANSFER_MODE
prompt "I2C Transfer Mode"

config FEATURE_I2C_BYTE_MODE
	bool "I2C Byte Buffer Mode"
		default y
		help
			I2C Byte Buffer Mode

config FEATURE_I2C_DMA_MODE
	bool "I2C DMA Buffer Mode"
		default n
		depends on @SOC_AST2500 || @SOC_AST2530
		help
			I2C DMA Buffer Mode
endchoice

if BMCCompanionDevice_support

config FEATURE_NUM_BMC_I2C_BUSES
	int "Number of BMC I2C Buses"
	default 9
	help
		Number of BMC I2C Buses

config FEATURE_NUM_SINGLE_BMC_COMPANION_I2C_BUSES
	int "Number of the single BMC companion controller I2C Buses"
	default 8
	help
		Number of the single BMC companion controller I2C Buses
endif

if FEATURE_BMCCOMPANIONDEVICE_AST1070

choice AST1070_I2C_Transfer_Mode
prompt "I2C Bus Transfer Mode"

config FEATURE_AST1070_I2C_BYTE_MODE
	bool "Support AST1070 I2C Bus Byte Mode"
		default n
		help
			Support AST1070 I2C Byte Mode
			
config FEATURE_AST1070_I2C_DMA_MODE
	bool "Support AST1070 I2C DMA Mode"
		default y
		help
			Support AST1070 I2C DMA Mode
endchoice

endif

menu "The default I2C speed mode Configuration"


if FEATURE_NUM_TOTOL_I2C_BUSES >= 1
choice I2C_BUS_SPEED_SELECTION
prompt "I2C0 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C00_FAST_MODE
	bool "I2C00 in Fast mode"
		default n
		help
			I2C00 In Fast mode
config FEATURE_I2C00_FAST_MODE_PLUS
	bool "I2C00 in Fast mode+"
		default n
		help
			I2C00 In Fast mode+
endchoice
endif			

if FEATURE_NUM_TOTOL_I2C_BUSES >= 2
choice I2C_BUS_SPEED_SELECTION
prompt "I2C1 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C01_FAST_MODE
	bool "I2C01 in Fast mode"
		default n
		help
			I2C01 In Fast mode
config FEATURE_I2C01_FAST_MODE_PLUS
	bool "I2C01 in Fast mode+"
		default n
		help
			I2C01 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 3
choice I2C_BUS_SPEED_SELECTION
prompt "I2C2 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C02_FAST_MODE
	bool "I2C02 in Fast mode"
		default n
		help
			I2C02 In Fast mode
config FEATURE_I2C02_FAST_MODE_PLUS
	bool "I2C02 in Fast mode+"
		default n
		help
			I2C02 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 4
choice I2C_BUS_SPEED_SELECTION
prompt "I2C3 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C03_FAST_MODE
	bool "I2C03 in Fast mode"
		default n
		help
			I2C03 In Fast mode
config FEATURE_I2C03_FAST_MODE_PLUS
	bool "I2C03 in Fast mode+"
		default n
		help
			I2C03 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 5
choice I2C_BUS_SPEED_SELECTION
prompt "I2C4 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C04_FAST_MODE
	bool "I2C04 in Fast mode"
		default n
		help
			I2C04 In Fast mode
config FEATURE_I2C04_FAST_MODE_PLUS
	bool "I2C04 in Fast mode+"
		default n
		help
			I2C04 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 6
choice I2C_BUS_SPEED_SELECTION
prompt "I2C5 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C05_FAST_MODE
	bool "I2C05 in Fast mode"
		default n
		help
			I2C05 In Fast mode
config FEATURE_I2C05_FAST_MODE_PLUS
	bool "I2C05 in Fast mode+"
		default n
		help
			I2C05 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 7
choice I2C_BUS_SPEED_SELECTION
prompt "I2C6 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C06_FAST_MODE
	bool "I2C06 in Fast mode"
		default n
		help
			I2C06 In Fast mode
config FEATURE_I2C06_FAST_MODE_PLUS
	bool "I2C06 in Fast mode+"
		default n
		help
			I2C06 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 8
choice I2C_BUS_SPEED_SELECTION
prompt "I2C7 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C07_FAST_MODE
	bool "I2C07 in Fast mode"
		default n
		help
			I2C07 In Fast mode
config FEATURE_I2C07_FAST_MODE_PLUS
	bool "I2C07 in Fast mode+"
		default n
		help
			I2C07 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 9
choice I2C_BUS_SPEED_SELECTION
prompt "I2C8 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C08_FAST_MODE
	bool "I2C08 in Fast mode"
		default n
		help
			I2C08 In Fast mode
config FEATURE_I2C08_FAST_MODE_PLUS
	bool "I2C08 in Fast mode+"
		default n
		help
			I2C08 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 10
choice I2C_BUS_SPEED_SELECTION
prompt "I2C9 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C09_FAST_MODE
	bool "I2C09 in Fast mode"
		default n
		help
			I2C09 In Fast mode
config FEATURE_I2C09_FAST_MODE_PLUS
	bool "I2C09 in Fast mode+"
		default n
		help
			I2C09 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 11
choice I2C_BUS_SPEED_SELECTION
prompt "I2C10 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C10_FAST_MODE
	bool "I2C10 in Fast mode"
		default n
		help
			I2C10 In Fast mode
config FEATURE_I2C10_FAST_MODE_PLUS
	bool "I2C10 in Fast mode+"
		default n
		help
			I2C10 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 12
choice I2C_BUS_SPEED_SELECTION
prompt "I2C11 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C11_FAST_MODE
	bool "I2C11 in Fast mode"
		default n
		help
			I2C11 In Fast mode
config FEATURE_I2C11_FAST_MODE_PLUS
	bool "I2C11 in Fast mode+"
		default n
		help
			I2C11 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 13
choice I2C_BUS_SPEED_SELECTION
prompt "I2C12 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C12_FAST_MODE
	bool "I2C12 in Fast mode"
		default n
		help
			I2C12 In Fast mode
config FEATURE_I2C12_FAST_MODE_PLUS
	bool "I2C12 in Fast mode+"
		default n
		help
			I2C12 In Fast mode+
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 14
choice I2C_BUS_SPEED_SELECTION
prompt "I2C13 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C13_FAST_MODE
	bool "I2C13 in Fast mode"
		default n
		help
			I2C13 In Fast mode
config FEATURE_I2C13_FAST_MODE_PLUS
	bool "I2C13 in Fast mode+"
		default n
		help
			I2C13 In Fast mode+			
endchoice
endif

if FEATURE_NUM_TOTOL_I2C_BUSES >= 15
choice I2C_BUS_SPEED_SELECTION
prompt "I2C14 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C14_FAST_MODE
	bool "I2C14 in Fast mode"
		default n
		help
			I2C14 In Fast mode
config FEATURE_I2C14_FAST_MODE_PLUS
	bool "I2C14 in Fast mode+"
		default n
		help
			I2C14 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 16
choice I2C_BUS_SPEED_SELECTION
prompt "I2C15 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C15_FAST_MODE
	bool "I2C15 in Fast mode"
		default n
		help
			I2C15 In Fast mode
config FEATURE_I2C15_FAST_MODE_PLUS
	bool "I2C15 in Fast mode+"
		default n
		help
			I2C15 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 17
choice I2C_BUS_SPEED_SELECTION
prompt "I2C16 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C16_FAST_MODE
	bool "I2C16 in Fast mode"
		default n
		help
			I2C16 In Fast mode
config FEATURE_I2C16_FAST_MODE_PLUS
	bool "I2C16 in Fast mode+"
		default n
		help
			I2C16 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 18
choice I2C_BUS_SPEED_SELECTION
prompt "I2C17 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C17_FAST_MODE
	bool "I2C17 in Fast mode"
		default n
		help
			I2C17 In Fast mode
config FEATURE_I2C17_FAST_MODE_PLUS
	bool "I2C17 in Fast mode+"
		default n
		help
			I2C17 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 19
choice I2C_BUS_SPEED_SELECTION
prompt "I2C18 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C18_FAST_MODE
	bool "I2C18 in Fast mode"
		default n
		help
			I2C18 In Fast mode
config FEATURE_I2C18_FAST_MODE_PLUS
	bool "I2C18 in Fast mode+"
		default n
		help
			I2C18 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 20
choice I2C_BUS_SPEED_SELECTION
prompt "I2C19 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C19_FAST_MODE
	bool "I2C19 in Fast mode"
		default n
		help
			I2C19 In Fast mode
config FEATURE_I2C19_FAST_MODE_PLUS
	bool "I2C19 in Fast mode+"
		default n
		help
			I2C19 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 21
choice I2C_BUS_SPEED_SELECTION
prompt "I2C20 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C20_FAST_MODE
	bool "I2C20 in Fast mode"
		default n
		help
			I2C20 In Fast mode
config FEATURE_I2C20_FAST_MODE_PLUS
	bool "I2C20 in Fast mode+"
		default n
		help
			I2C20 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 22
choice I2C_BUS_SPEED_SELECTION
prompt "I2C21 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C21_FAST_MODE
	bool "I2C21 in Fast mode"
		default n
		help
			I2C21 In Fast mode
config FEATURE_I2C21_FAST_MODE_PLUS
	bool "I2C21 in Fast mode+"
		default n
		help
			I2C21 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 23
choice I2C_BUS_SPEED_SELECTION
prompt "I2C22 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C22_FAST_MODE
	bool "I2C22 in Fast mode"
		default n
		help
			I2C22 In Fast mode
config FEATURE_I2C22_FAST_MODE_PLUS
	bool "I2C22 in Fast mode+"
		default n
		help
			I2C22 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 24
choice I2C_BUS_SPEED_SELECTION
prompt "I2C23 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C23_FAST_MODE
	bool "I2C23 in Fast mode"
		default n
		help
			I2C23 In Fast mode
config FEATURE_I2C23_FAST_MODE_PLUS
	bool "I2C23 in Fast mode+"
		default n
		help
			I2C23 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 25
choice I2C_BUS_SPEED_SELECTION
prompt "I2C24 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C24_FAST_MODE
	bool "I2C24 in Fast mode"
		default n
		help
			I2C24 In Fast mode
config FEATURE_I2C24_FAST_MODE_PLUS
	bool "I2C24 in Fast mode+"
		default n
		help
			I2C24 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 26
choice I2C_BUS_SPEED_SELECTION
prompt "I2C25 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C25_FAST_MODE
	bool "I2C25 in Fast mode"
		default n
		help
			I2C25 In Fast mode
config FEATURE_I2C25_FAST_MODE_PLUS
	bool "I2C25 in Fast mode+"
		default n
		help
			I2C25 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 27
choice I2C_BUS_SPEED_SELECTION
prompt "I2C26 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C26_FAST_MODE
	bool "I2C26 in Fast mode"
		default n
		help
			I2C26 In Fast mode
config FEATURE_I2C26_FAST_MODE_PLUS
	bool "I2C26 in Fast mode+"
		default n
		help
			I2C26 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 28
choice I2C_BUS_SPEED_SELECTION
prompt "I2C27 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C27_FAST_MODE
	bool "I2C27 in Fast mode"
		default n
		help
			I2C27 In Fast mode
config FEATURE_I2C27_FAST_MODE_PLUS
	bool "I2C27 in Fast mode+"
		default n
		help
			I2C27 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 29
choice I2C_BUS_SPEED_SELECTION
prompt "I2C28 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C28_FAST_MODE
	bool "I2C28 in Fast mode"
		default n
		help
			I2C28 In Fast mode
config FEATURE_I2C28_FAST_MODE_PLUS
	bool "I2C28 in Fast mode+"
		default n
		help
			I2C28 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 30
choice I2C_BUS_SPEED_SELECTION
prompt "I2C29 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C29_FAST_MODE
	bool "I2C29 in Fast mode"
		default n
		help
			I2C29 In Fast mode
config FEATURE_I2C29_FAST_MODE_PLUS
	bool "I2C29 in Fast mode+"
		default n
		help
			I2C29 In Fast mode+
endchoice
endif

if (FEATURE_NUM_TOTOL_I2C_BUSES) >= 31
choice I2C_BUS_SPEED_SELECTION
prompt "I2C30 Speed Selection"
help
        Select the desired bus frequency
optional
config FEATURE_I2C30_FAST_MODE
	bool "I2C30 in Fast mode"
		default n
		help
			I2C30 In Fast mode
config FEATURE_I2C30_FAST_MODE_PLUS
	bool "I2C30 in Fast mode+"
		default n
		help
			I2C30 In Fast mode+

endchoice
endif

#endchoice
endmenu

endmenu
endif

