if bt_hw

menu "BT Configuration" 

config FEATURE_BT_PORT_ADDRESS
	hex "BT Interface Port Address (2 byte hex)"
	default 0x00E4
	help
	    The port address for the BT Interface. This is a 2 Byte Hex value, and this value will be applied in the reigster at bits [31:16]. Bits [31:18] are considered as port address.

endmenu
endif
