<section class="content-header">
    <h1>
        <%= locale.title %>
        <small> <%= locale.tag %> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i><%= locale.home %></a></li><li><a href="#settings"><%= locale.settings %></a></li><li><a href="#settings/video"><%= locale.video %></a></li><li><a href="#settings/video/sol"><%= locale.sol %></a></li>
        <li class="active">
           <%= locale.title %>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="col-md-5">
    <div class="box box-primary animated fadeInUp">
        <!--<div class="box-header">
            <div class="pull-right help"><a class="col-sm-1 help-link" href="#"><i class="fa fa-question-circle"></i></a></div>
            <h3 class="box-title"><%= locale.javasol %></h3>
        </div>-->
        <div class="box-body">
            <div class="alert alert-success hide">
                <!-- <i class="fa fa-check"></i> -->
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                <b><%= locale.strongSuccessMsg %></b> <%= locale.successMsg %>
            </div>
            <div class="alert alert-danger hide">
                <!-- <i class="fa fa-ban"></i> -->
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                <b><%= locale.strongFailureMsg %></b> <%= locale.failureMsg %>
            </div>
            <form action="javascript://" method="POST" role="form">
				<div style="padding-bottom:8px"><%= locale.javasol_helpdesc %></div>
                <div class="pull-right">
					<a class="btn btn-success" id="download"><i id='download-icon' class="fa fa-download"></i> &nbsp; <%= locale.downloadLabel %></a>
				</div>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
</div>
</section>