
	<td><label class='id'><%= model.get('id') %></label></td><td><label class='file_name'><%= model.get('file_name') %></label></td><td><label class='file_info'><%= model.get('file_info') %></label></td>
	<td>
		<a class="btn btn-success hide action-1" href="archive/:file_name"><i class="fa fa-download"></i></a>
		<a class="btn btn-success hide action-2" href="%%custom-link-2"><i class="%%custom-icon-2"></i></a>
		<a class="btn btn-success hide action-3" href="%%custom-link-3"><i class="%%custom-icon-3"></i></a>
		<a class="btn btn-success hide action-4" href="%%custom-link-4"><i class="%%custom-icon-4"></i></a>
		<a class="btn btn-success hide edit" href="#settings/video/sol/sol_recorded_video/edit/:id"><i class="ion ion-edit"></i></a>
		<a class="btn btn-danger hide delete" href="#settings/video/sol/sol_recorded_video/edit/:id"><i class="ion ion-close-circled"></i></a>
	</td>
