
	
	<td>
		<a class="btn btn-default hide action-1" href="%%custom-link-1"><i class="%%custom-icon-1"></i></a>
		<a class="btn btn-default hide action-2" href="%%custom-link-2"><i class="%%custom-icon-2"></i></a>
		<a class="btn btn-default hide action-3" href="%%custom-link-3"><i class="%%custom-icon-3"></i></a>
		<a class="btn btn-default hide action-4" href="%%custom-link-4"><i class="%%custom-icon-4"></i></a>
		<a class="btn btn-success hide edit" href="#settings/sasit_management/sasit_topology_info/edit/:id"><i class="ion ion-edit"></i></a>
		<a class="btn btn-danger hide delete" href="#settings/sasit_management/sasit_topology_info/edit/:id"><i class="ion ion-close-circled"></i></a>
	</td>
