if uartroute

config FEATURE_SOL_SERIAL_PORT_SHARING_ENABLE
	bool
	default y if uartroute
	help
		Enable SOL and Serial Port Sharing

menu "SOL and Serial Port Sharing Configuration"
choice SOL_SERIAL_PORT_SHARING_CONF
    prompt "SOL and Serial Port Sharing Type"
    default FEATURE_SOL_EXTERNAL_SUPERIO

config FEATURE_SOL_EXTERNAL_SUPERIO
    bool "SOL with External SuperIO"
    default y
    help
        Configure UART routing with EXternal SuperIO.
		
config FEATURE_SOL_INTERNAL_SUPERIO
    bool "SOL with Internal SuperIO"
    default n
    help
        Configure UART routing with Internal SuperIO.

config FEATURE_SOL_INTERNAL_SUPERIO_SERIAL_PORT_SHARING
    bool "SOL with Internal SuperIO, and Serial Port Sharing"
    default n
    help
        Configure UART routing with Internal SuperIO, and serial port sharing.
        
config FEATURE_SOL_SERIAL_PORT_SHARING_CUSTOMIZATION
	bool "Customize SOL UART Routing"
	default n
	help
		Configue UART routing for customized case.
		
endchoice

config FEATURE_ENABLE_LPCUART_STD_COM
    bool "Initialize UART1 and UART2 as standard serial port"
    default n
    help
        For the usage that UART1 and UART2 are not used as LPC UART.

endmenu

endif
