/*
//;*****************************************************************;
//;*****************************************************************;
//;**                                                             **;
//;**     (C) COPYRIGHT American Megatrends Inc. 2008-2009        **;
//;**                     ALL RIGHTS RESERVED                     **;
//;**                                                             **;
//;**  This computer software, including display screens and      **;
//;**  all related materials, are confidential and the            **;
//;**  exclusive property of American Megatrends, Inc.  They      **;
//;**  are available for limited use, but only pursuant to        **;
//;**  a written license agreement distributed with this          **;
//;**  computer software.  This computer software, including      **;
//;**  display screens and all related materials, shall not be    **;
//;**  copied, reproduced, published or distributed, in whole     **;
//;**  or in part, in any medium, by any means, for any           **;
//;**  purpose without the express written consent of American    **;
//;**  Megatrends, Inc.                                           **;
//;**                                                             **;
//;**                                                             **;
//;**                American Megatrends, Inc.                    **;
//;**           5555 Oakbook Parkway, Building 200                **;
//;**     Norcross,  Georgia - 30071, USA. Phone-(770)-246-8600.  **;
//;**                                                             **;
//;*****************************************************************;
//;*****************************************************************;
*/

.banner{
	background:url(../res/banner_bg.jpg);
	height:73px;
	font-size:0px;
}

.oem_banner{
	background:url(../res/oem/banner_bg.jpg);
	height:73px;
	font-size:0px;
}


body{
	margin:0px;
	padding:0px;
}

.userDetails{
	font-size:11px;
	font-family:Verdana, Arial;
	background:url(../res/u_bg.png) repeat-x #2e3f59;
	color:#fff;
	height:15px;
	padding-left:10px;
	padding-right:10px;
}

.userDetails img{
	padding-right:1px;
}

.userDetails small{
	color:#ccc;
}

.userDetails a{
	padding-left:10px;
	text-decoration:none;
	color:#fff;
}

.userDetails a:hover{
	color:#B3CDE8;
}