/*
//;*****************************************************************;
//;*****************************************************************;
//;**                                                             **;
//;**     (C) COPYRIGHT American Megatrends Inc. 2008-2009        **;
//;**                     ALL RIGHTS RESERVED                     **;
//;**                                                             **;
//;**  This computer software, including display screens and      **;
//;**  all related materials, are confidential and the            **;
//;**  exclusive property of American Megatrends, Inc.  They      **;
//;**  are available for limited use, but only pursuant to        **;
//;**  a written license agreement distributed with this          **;
//;**  computer software.  This computer software, including      **;
//;**  display screens and all related materials, shall not be    **;
//;**  copied, reproduced, published or distributed, in whole     **;
//;**  or in part, in any medium, by any means, for any           **;
//;**  purpose without the express written consent of American    **;
//;**  Megatrends, Inc.                                           **;
//;**                                                             **;
//;**                                                             **;
//;**                American Megatrends, Inc.                    **;
//;**           5555 Oakbook Parkway, Building 200                **;
//;**     Norcross,  Georgia - 30071, USA. Phone-(770)-246-8600.  **;
//;**                                                             **;
//;*****************************************************************;
//;*****************************************************************;
*/

body{
	margin:0px;
	padding:0px;
	font-family:Arial;
	font-size:12px;
	overflow:hidden;
	background:#fff;
}

.windowOptions a{
	float:right;
	display:block;
	text-decoration:none;
	color: #fff;
}

.windowOptions h4{
	padding:5px;
	margin:0px;
	color: #fff;
	font-size:12px;
}

.windowOptions{
	background: url(../res/widget_header.png) repeat-x;
}

.windowOptions a:hover{
	color: #ccf;
}

.widgetHolder{
	background:#fff;
	color:#000;
	text-align:center;
}

