#Extract Source	in %SOURCE
extract_source:

#Build Source in %BUILD
build_source:
	CWD %BUILD/%PACKAGE/data
	INVOKE_MAKE
	
#Clean Source
clean_source:
	CWD %BUILD/%PACKAGE/data
	INVOKE_MAKE clean
	
#--------------------- Mandatory Rules for every binary package -------------------------

# Rules to create watchdog_hw package
build_package-watchdog_hw:
	PACK_SPX ./ %BUILD/%PACKAGE/data/watchdog_hw.ko
