#Extract Source	in %SOURCE
extract_source:

#Build Source in %BUILD
build_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE
		
#Clean Source
clean_source:
		CWD %BUILD/%PACKAGE/data
		INVOKE_MAKE clean
		
#--------------------- Mandatory Rules for every binary package -------------------------
# Rules to create libopenradius package
build_package-libopenradius:
		PACK_SPX  ./   %BUILD/%PACKAGE/data/libopenradius.so.%PKG_MAJOR.%PKG_MINOR.%PKG_AUX

# Rules to create libopenradius_dev package
build_package-libopenradius_dev:
		MKDIR_CLEAN %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/md5.h %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/radius.h  %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/pam_radius_auth.h %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/libopenradius.a %TEMPDIR/%PACKAGE/tmp
		COPY_FILE %BUILD/%PACKAGE/data/libopenradius.so.%PKG_MAJOR.%PKG_MINOR.%PKG_AUX %TEMPDIR/%PACKAGE/tmp
		PACK_SPX ./ %TEMPDIR/%PACKAGE/tmp
