if sys_base_ex
menu "General Configuration"

config FEATURE_^EX^_GLOBAL_CONSOLE_TTY
	string  "TTY to be used console"
	default "ttyS0"
	help 
	     Specify the name of the tty to be used as console

config FEATURE_^EX^_BAUDRATE_CONSOLE_TTY
       int "Baudrate for TTY to be used as console"
       default 115200
       help
               Specify the baudrate of the tty to be used as console.

config FEATURE_^EX^_GLOBAL_DEFAULT_SHELL
	string  "Login Shell for Remote Terminal"
	default "/bin/false"
	help 
	     Specify the name of the program to be executed on login in remote terminals (ssh, telnet ...)

config FEATURE_^EX^_GLOBAL_HOST_PREFIX
	string "Prefix to be used for default host name (3 chars)"
	default "AMI"
	help
		During first power up, the host name is a 3 char prefix followed by MAC address
		Specify the prefix to be used

config FEATURE_^EX^_GLOBAL_DEFAULT_DOMAINNAME
    	string "Default domain name"
	default ""
	help	
		Specify the default domain name for DNS configuration to be used					

config FEATURE_^EX^_GLOBAL_DEFAULT_NETWORK_DHCP
	bool "Set default network config to DHCP"
	default y
	help
		Enable if you want default network configuration as dhcp.
		Otherwise it will be set to manual and cannot connect to 
		device till it is enabled.

config FEATURE_^EX^_FASTER_BOOT_SUPPORT
	bool "Enable Faster Boot Support" 
	default y
	help
	    Enable Faster Boot Support

config FEATURE_^EX^_MMC_BOOT
	bool  "Boot from MMC"	
	default n
	help
		  Boot using root file system in SD/MMC Partition

if FEATURE_^EX^_MMC_BOOT
menu "MMC Boot Configuration"
config FEATURE_^_EX^_MMC_BOOT_PARTITION
	 string  "Boot Partition in MMC"
	 default  "mmcblk0p1"
	 help
		   Boot Partition which contains root file system

config FEATURE_^EX^_MMC_ROOT_SIZE
	 hex  "MMC Root Parition Size"
	 default  128M
	 help
		   Partition size for the Root file system
	  		
config FEATURE_^EX^_MMC_IMAGE_NAME
	 string  "MMC Image Name"
	 default  "mmc.ima"
	 help
		   Output MMC Image name 

config FEATURE_^EX^_FIRMWARE_TAR
	bool  "Generate TAR Of Firmware"
	default n
	help
		Generates TAR ball of the firmware image from build

if FEATURE_^EX^_FIRMWARE_TAR
menu "Firmware TAR Configuration"
config FEATURE_^EX^_FIRMWARE_TAR_NAME
	string "Firmware TAR Name"
	default "rom.tar.gz"
	help
		Output Firmware TAR name

endmenu
endif

endmenu
endif
	  		



if FEATURE_SYSTEM_FIREWALL_SUPPORT
config FEATURE_^EX^_DISABLE_PING_SUPPORT
	bool "Disable Ping Support" 
	default n
	help
	    Disable Ping Support
endif

config FEATURE_^EX^_ADVANCED_IP_ROUTING_SUPPORT
    bool "Enable/Disable Advanced IP Routing"
    default n
    help
        Enable/Disable Advanced IP Routing support
endmenu
endif
