if cpld_hw
menu "CPLD Configuration"

choice CPLD_MODEL
prompt "CPLD Support Model"

config FEATURE_LATTICE_LCMXO_SUPPORT
	bool "Support Lattice LCMXO"
	    default n
        help
             Support Lattice LCMXO256C
             
config FEATURE_LATTICE_LCMXO2_SUPPORT
	bool "Support Lattice LCMXO2"
	    default n
        help
             Support Lattice LCMXO2_1200ZE
             Support Lattice LCMXO2_640HC
endchoice

endmenu
endif