<!-- timeline item -->

<!-- timeline icon -->
<i class="<%=log_icon%> bg-blue"></i>
<div class="timeline-item">

    <h3 class="timeline-header">
        <span><%=datetime%></span><span style="padding-left:10px;"><%=hostname%></span><span style="padding-left:10px;"><%=logdescription%></span>
    </h3>
   
   <!-- <span class="time"><i class="fa fa-clock-o"></i> 
        <%=fromnow%>
    </span>

    <h3 class="timeline-header">
        <%=hostname%>
        <%=event%>
    </h3>

    <div class="timeline-body">
        <%=event_message%>
    </div>


    <div class='timeline-footer'>
        <a class="btn btn-primary btn-xs" href="javascript://">
            <%=locale.suggestion%>
        </a>
    </div>-->
</div>

<!-- END timeline item -->