                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="<%=locale.task_desc%>">
                        <i class="fa fa-tasks"></i>
                        <span class="label label-danger count">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have <span class='count'>0</span> tasks</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#"><%=locale.view_alltask%></a>
                        </li>
                    </ul>