<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
         <%=locale.remote_control%> 
        <small> <%=locale.power_controlkvm%></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>  <%=locale.home%></a>
        </li>
        <li class="active">
             <%=locale.remote_control%>  
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!--search events -->
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group" id="filter">
                        <input type="text" class="form-control" placeholder=" <%=locale.search_settings%>" />
                        <span class="input-group-addon">
                            <span class="glyphicon-search glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  animated fadeInRight delay-0">
         <%=locale.install_spx_remoteapp%> 
    </div>
</section>
<!-- /.content -->