
        <div class="col-xs-1 col-sm-1 script-id">
            <%=id%>
        </div>
        <div class="col-xs-11 col-sm-11 col-md-4 script-title">
            <%=title%>
        </div>
        <div class="col-md-2 script-author">
            <%=author%>
        </div>
        <div class="col-md-3 script-time-info">
            <%=time_info%>
        </div>
        <div class="col-md-2">
            <!--
            <a href="#scripts/<%=id%>" class="btn btn-default script-button script-edit"><i class="fa fa-edit"></i></a>
            -->
            <button type="button" class="btn btn-default script-button script-delete"><i class="fa fa-trash-o"></i></button>
        </div>