<section class="content-header">
    <h1>
         <%= locale.store %>
        <small> <%= locale.webstore_extending %></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> <%= locale.home %></a>
        </li>
        <li class="active">
            <%= locale.store %>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!--search events -->
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group" id="filter">
                        <input type="text" class="form-control" placeholder=" <%= locale.search_store %>" />
                        <span class="input-group-addon">
                            <span class="glyphicon-search glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-body">
                    <blockquote><%= locale.increase_imc %><br/>
                        <small><%= locale.mc_rebustsearch %></small>
                    </blockquote>
                </div>
            </div>


            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 class='store-heading'>
                            <%= locale.store_mngt %>
                        </h3>
                        <p>
                            <br/><br/><br/><br/><br/><br/>
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hdd-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        <%= locale.more_info %> <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-teal">
                    <div class="inner">
                        <h3 class='store-heading'>
                            <%= locale.network_mngt %> 
                        </h3>
                        <p>
                            <br/><br/><br/><br/><br/><br/>
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-wifi"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                       <%= locale.more_info %>  <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 class='store-heading'>
                            <%= locale.enclosure_mngt %> 
                        </h3>
                        <p>
                            <br/><br/><br/><br/><br/><br/>
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-monitor"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        <%= locale.more_info %> <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 class='store-heading'>
                           <%= locale.power_mngt %> 
                        </h3>
                        <p>
                            <br/><br/><br/><br/><br/><br/>
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-battery-full"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                       <%= locale.more_info %>  <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>