
        <div class="col-xs-1 col-sm-1 task-id">
            <%=id%>
        </div>
        <div class="col-xs-11 col-sm-11 col-md-4 task-title">
            <%=title%>
        </div>
        <div class="col-md-2 task-author">
            <%=author%>
        </div>
        <div class="col-md-3 task-time-info">
            <%=time_info%>
        </div>
        <div class="col-md-2">
            <a href="#tasks/<%=id%>" class="btn btn-default task-button task-edit"><i class="fa fa-edit"></i></a>
            <button type="button" class="btn btn-default task-button task-delete"><i class="fa fa-trash-o"></i></button>
        </div>