if kcs || peci || i2c_hw
menu "Driver Logging Configuration"
if kcs
config FEATURE_ENABLE_KCS_LOG
	bool "Enable KCS driver logging"
	default n
	help
	     Global Enable/Disable KCS driver logging
	     The KCS driver writes all received and transferred data to printk
	     The logging can be enable/disable for each KCS port during runtime through /proc/log-kcs[N] files.
endif

if peci
config FEATURE_ENABLE_PECI_LOG
	bool "Enable PECI driver logging"
	default n
	help
	     Global Enable/Disable PECI driver logging
	     The PECI driver writes all received and transferred data to printk
	     The logging can be enable/disable during runtime through /proc/log-peci0 file.
endif

if i2c_hw
config FEATURE_ENABLE_I2C_LOG
	bool "Enable I2C driver logging"
	default n
	help
	     Global Enable/Disable I2C driver logging
	     The I2C driver writes all received and transferred data to printk
	     There are possibility to set six filters for each port 
	     The logging can be enable/disable for each I2C port during runtime through /proc/log-i2c[N] file.

config FEATURE_ENABLE_I2C_STAT
	bool "Enable I2C driver statistic"
	default n
	help
	     Global Enable/Disable I2C driver statistic
	     The I2C driver statistic all written to /proc folder
	     There are possibility to set six filters for each port 


endif
endmenu
endif

