                            <!-- Box (with bar chart) -->
                            <div class="box box-success animated fadeInUp delay-2 success" id="sensor-dashboard">
                                <div class="box-header">

                                    <i class="fa fa-check-circle icon"></i>

                                    <h3 class="box-title"><%=locale.sensor_monitoring%> <small></small></h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="knob-label text-center"><%=locale.allsensor_goodnow%></div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="box-footer">
                                    <div class="title">
                                        <h4 class="box-title"><i class="fa fa-check-circle-o"></i>
                                            <%=locale.recently_recovered%><small></small></h4>
                                    </div>

                                </div>-->
                            </div>
