                                <div class="col-xs-1">
                                    <div class="knob-label qsi-icon"><i class='<%=sensor_icon%>'></i></div>
                                </div><!-- ./col -->
                                <div class="col-xs-6 col-sm-3">
                                    <div class="knob-label qsi-name"></div>
                                </div><!-- ./col -->
                                <div class="col-xs-4 col-sm-2">
                                    <div class="knob-label qsi-reading"></div>
                                </div><!-- ./col -->
                                <div class="col-xs-offset-1 col-xs-5 col-sm-offset-0 col-sm-3">
                                    <div class="inlinegraph qsi-graph">Loading...</div>
                                </div><!-- ./col -->
                                <div class="col-xs-6 col-sm-3">
                                    <div class="knob-label qsi-time"></div>
                                </div><!-- ./col -->
                            