config FEATURE_HTML5_KVM
	bool 
	default y if H5Viewer_html5 
	help
		Enable HTML5 KVM

if H5Viewer_html5

menu "HTML5 KVM Default Configurations"
		
config FEATURE_AUTO_RESIZE_KVM_CLIENT_WINDOW_H5
	bool "Auto Resize KVM Client Window"
	default n
    help
    	Enable or Disable Auto Resize KVM Client widow feature
    	
config FEATURE_MEDIA_REDIR_READ_WRITE_ONLY_H5
	bool "Redirect Devices Always in READ and WRITE Mode"
	default n
    help
    	Enable or Disable device redirection always in READ & WRITE mode
endmenu
endif
